<h1>Welcome</h1>
<p>
  My name is Chris Timpone, I am a web developer, and this is my portfolio.
  <br>
  <br>
  I have experience in developing back-end, front-end, and full web
  applications, primarily using Ruby on Rails
  and Backbone.js.  I am currently available for salaried or contract work.
  <br>
  <br>
  This site was built using Ruby on Rails, with Backbone.js used for the front-end.
  It requires JavaScript to function.
</p>
