/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a, ul, li, body, strong, aside, section, h1, h2 {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent
}

ul, li {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: "Anonymous Pro";
  background: #555;
}

#sidebar {
  color: #FFFFF3;
  position: fixed;
  height: 100%;
  width: 300px;
  background: #444;
  border-right: 5px solid #333;
}

.portrait {
  width: 250px;
  margin: auto;
  padding: 25px 0;
}

.portrait div {
  width: 58px;
  height: 58px;
  border: 1px solid #333;
  float: left;
  overflow: hidden;
  border-radius: 5px;
}

.portrait strong {
  font-size: 24px;
  font-weight: 700;
  float: left;
  margin: 15px 0 0 10px;
}

#sidebar ul {
  width: 107px;
  margin: auto;
  font-size: 20px;
}

#sidebar ul li {
  padding: 5px 0;
}

#sidebar a {
  display: block;
  width: 100%;
}

#sidebar a:hover {
  color: #00C0FF;
  font-weight: 700;
}

.quasi-border {
  width: 300px;
  height: 3px;
  background: #555;
  position: relative;
  right: 97px;
}

#content {
  width: calc(100% - 505px);
  margin-left: 305px;
  padding: 25px 25px 0 25px;
  color: #444;
  background: #FFFFF3;
  min-height: calc(100% - 25px);
  position: absolute;
  border-right: 5px solid #333;
}

#content h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}

.project {
  background: #BDBDBD;
  border: 3px solid #444;
  margin: 20px;
}

.project strong {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 10px 0;
}

.project .links {
  font-size: 28px;
  font-weight: 400;
  padding: 0 0 10px 0;
}

.project a:hover {
  color: #FFFFF3;
}

.project-desc {
  font-size: 18px;
  width: calc(100% - 400px);
  float: left;
  text-align: left;
}

.project-img {
  border: 1px solid #444;
  display: block;
  margin: 20px;
  float: left;
}

.mp {
  background: #2EB3DB;
}

.sn {
  background: #2AFF3A;
}

.ch {
  background: #FF1E1F;
}
