<h1>Projects</h1>

<p>
  These are my primary developed projects.  These, and other, projects can all
  be found in my Github repository, which can be found in the sidebar.
</p>

<ul class="projects">
  <li class="project">
    <strong class="mp">Media Passport</strong>
    <strong class="links mp">
      <a href="http://media-passport.herokuapp.com/">Live</a>
      <a href="https://github.com/CTimpone/MediaPassport">GitHub</a>
    </strong>
    <div class="group">
      <img class="project-img" src="#"/>
      <p class="project-desc">
        Media Passport is a site where user's can view up-to-date information on their
        favorite television shows, post and comment on episodes, like user generated content,
        and get recommendations for new shows to watch.
        <br>
        <br>
        This project utilizes Backbone.js and Ruby on Rails for the main framework.
        It's data is populated from a RESTful, third-party API which it asynchronously
        pulls from to create and update shows and episodes on search and show actions.  In
        addition, the site utilizes Masonry for more aesthetically pleasing grid arrangement
        with minimal white space.
      </p>
    </div>
  </li>
</ul>
