<h1>Projects</h1>

<p>
  These are my primary developed projects.  These, and other, projects can all
  be found in my Github repository, which can be directly accessed in the sidebar.
</p>

<ul class="projects">
  <li class="project">
    <strong class="mp">Media Passport</strong>
    <strong class="links mp">
      <a href="http://media-passport.herokuapp.com/">Live</a>
      <a href="https://github.com/CTimpone/MediaPassport">GitHub</a>
    </strong>
    <div class="group">
      <a href="https://s3.amazonaws.com/portfolio-cat/mp-crop.png">
        <img class="project-img mp-img" src="https://s3.amazonaws.com/portfolio-cat/mp-small.png"/>
      </a>
      <p class="project-desc">
        Media Passport is a site where user's can view up-to-date information on their
        favorite television shows, post and comment on episodes, like user generated content,
        and get recommendations for new shows to watch.
        <br>
        <br>
        This project utilizes Backbone.js and Ruby on Rails for the main framework.
        It utilizes a RESTful, third-party API which it asynchronously
        pulls from to create and update shows and episodes on search and show actions.  In
        addition, the site utilizes Masonry for more aesthetically pleasing grid arrangement
        with minimal white space.
      </p>
    </div>
  </li>

  <li class="project">
    <strong class="sn">Online Snake</strong>
    <strong class="links sn">
      <a href="http://online-snake.herokuapp.com/">Live</a>
      <a href="https://github.com/CTimpone/JQuery_Snake">GitHub</a>
    </strong>
    <div class="group">
      <a href="https://s3.amazonaws.com/portfolio-cat/snake-crop.png">
        <img class="project-img" src="https://s3.amazonaws.com/portfolio-cat/snake-small.png"/>
      </a>
      <p class="project-desc">
        A rendition of the classic.  Built primarily with JQuery.  Complete with
        adjustable speed, and high-score board hosted on a Rails back-end.  See
        what your best score is.
      </p>
    </div>
  </li>

  <li class="project">
    <strong class="ch">Command Line Chess</strong>
    <strong class="links ch">
      <a href="https://github.com/CTimpone/chess">GitHub</a>
    </strong>
    <div class="group">
      <a href="https://s3.amazonaws.com/portfolio-cat/chess-crop.png">
        <img class="project-img" src="https://s3.amazonaws.com/portfolio-cat/chess-small.png"/>
      </a>
      <p class="project-desc">
        Chess built completely in Ruby, to be played right in your terminal.  Uses
        Colorize gem for superior graphical output.  Includes ability to use both human
        and computer players in any combination, whether its man v. man, man v. machine, or
        even machine v. machine.
        <br>
        <br>
        The AI players have three distinct, selectable behavior patterns.  One randomly
        chooses moves.  The second evaluates the board, and determines the best possible
        move that immediately presents itself.  The third evaluates the board using a depth
        first search, looking ahead to their next move, and determines what the best
        outcome is then, presuming their opponent also makes the best move.
      </p>
    </div>
  </li>
</ul>
