<h1>Resume - At a Glance</h1>
<p>
  If you would like any more information, whether it's additional contact info or
  expansion on anything you've found on this site, please send me an email at
  ChrisTimpone@gmail.com.
</p>
<ul>
  <li class="part">
    <span>Projects</span>
    <p>
      <strong>
        <a href="http://www.media-passport.com">MediaPassport</a>
        (<a href="https://github.com/CTimpone/MediaPassport">GitHub</a>):
      </strong>
      A web application for television inspired by GoodReads and AVClub.
    </p>

    <ul class="bullets">
      <li>
        <p>
          Single-page app written in Backbone.js and Ruby on Rails backend.
        </p>
      </li>
      <li>
        <p>
          Consumes RESTful JSON API to create and update database entries.
        </p>
      </li>
      <li>
        <p>
          Uses custom AJAX for batch creation and verification based on API response
          to minimize number of calls to server.
        </p>
      </li>
      <li>
        <p>
          Custom SQL query to serve TV show recommendations to users based on
          what they watch compared to other users
        </p>
      </li>
    </ul>

    <p>
      <strong>
        <a href="http://www.online-snake-game.com/">Snake</a>
        (<a href="https://github.com/CTimpone/JQuery_Snake">GitHub</a>):
      </strong>
      A browser-based version of the game Snake.
    </p>

    <ul class="bullets">
      <li>
        <p>
          Utilizes Ruby on Rails backend to store and serve high-scores.
        </p>
      </li>
    </ul>

    <p>
      <strong>
        <a href="https://github.com/CTimpone/chess">Command Line Chess</a>:
      </strong>
      Terminal based chess for human and AI players.
    </p>

    <ul class="bullets">
      <li>
        <p>
          AI evaluates board using modified Negamax framework and a depth-first search to optimize moves.          </p>
      </li>
      <li>
        <p>
          Overrides inspect method, using Colorize gem, for better display.
        </p>
      </li>
    </ul>
  </li>

  <li class="part">
    <span>Skills</span>
    <p>
      Ruby, TDD, RSpec, Rails, PostgreSQL, Javascript, jQuery, Masonry, Backbone.js,
      HTML, CSS, Git
    </p>
  </li>

  <li class="part group">
    <span>Education</span>

    <p>
      <strong>
        App Academy (January-April 2015)
      </strong>
      <i>New York, NY</i>
      <br>
      Learned Ruby, Rails, JavaScript, and Backbone
      <br>
      5% acceptance rate
    </p>
    <br>

    <p>
      <strong>
        B.S. Mechanical Engineering (September 2009-June 2013)
      </strong>
      <i>Evanston, IL</i>
      <br>
      Northwestern University, McCormick School of Engineering
      <br>
      Relevant Courses: Vector Calculus, Design Thinking, Electronics Design
    </p>
  </li>

  <li class="part group">
    <span>Work Experience</span>

    <p>
      <strong>
        Customer Service Representative (January-November 2014)
      </strong>
      <i>Columbus, OH</i>
      <br>
      Fiserv
      <ul class="bullets">
        <li>
          <p>
            Created job aid used across multiple supervisors and training classes.
          </p>
        </li>
      </ul>
    </p>
    <br>

    <p>
      <strong>
        Senior Support Consultant (October 2011-June 2013)
      </strong>
      <i>Evanston, IL</i>
      <br>
      Northwestern University Information Technology
      <ul class="bullets">
        <li>
          <p>
            Supervised ~6-7 employees at a time, which served as front-line tech
            support for students, faculty, alumni, and others.          </p>
        </li>
        <li>
          <p>
            Awarded Employee of the Quarter award in Spring 2013.
          </p>
        </li>
      </ul>    </p>
  </li>
</ul>
