<!DOCTYPE html>
<html>
<head>
  <title>Chris Timpone | Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <aside id="sidebar">
    <div class="portrait group">
      <div class="image-container">
        <img src="#" class="selfie"/>
      </div>
      <strong>Chris Timpone</strong>
    </div>
    <ul class="links-content">
      <li class="about-page"><a href="/#about">About</a></li>
      <li class="projects-page"><a href="/#projects">Projects</a></li>
      <li class="resume-page"><a href="/#resume">Resume</a></li>
      <li><div class="quasi-border"></div> </li>
    </ul>
    <ul class="links-external">
      <li><a href="https://github.com/CTimpone">Github</a></li>
      <li><a href="https://www.linkedin.com/in/christimpone">LinkedIn</a></li>
      <li><a href="mailto:ChrisTimpone@gmail.com">Email</a></li>
    </ul>
  </aside>

  <article id="content">
    <%= yield %>
  </article>
</body>
</html>
